conda {
  conda.enabled = true
}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'slurm'
    executor {
      submitRateLimit = '100/1h'
      perJobMemLimit = '1280G'
    }
    process.cache = 'lenient'
    params {
      igenomes_base = '/gpfs/ysm/datasets/genomes/'
    }
  }
}

manifest {
  name = 'crispr-screening'
  defaultBranch = 'main'
  description = 'A Nextflow script which conducts the computational analysis associated with CRISPR screening as done within the Sheltzer Lab.'
  nextflowVersion = '22.04+'
  author = 'Ryan A. Hagenson'
}
