dag {
  enabled = true
  file = "dag.dot"
}

trace {
  enabled = true
  file = "trace.txt"
}

report {
  enabled = true
  file = "report.html"
}

conda {
  conda.enabled = true
}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'slurm'
    executor {
      submitRateLimit = '100/1h'
      perJobMemLimit = '1280G'
    }
    process.cache = 'lenient'
    params {
      igenomes_base = '/gpfs/ysm/datasets/genomes/'
    }
  }
}

